.care{
    min-height: 760px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__item{
        grid-column: span 1;

        &_text{
            padding-top: 165px;
            padding-left: 20px;
        }
        &-title{
            font-family:'Parangon530С', 'Arial', 'sans-serif';
            font-size: 36px;
            line-height: 55px;
            min-width: 475px;
            padding-top: 10px;
            padding-left: 100px;
            margin-bottom: 30px;
            background: url('../img/be-careful-background.png') no-repeat center;
        }
        &-desc{
            font-family:'Arial', 'sans-serif';
            font-size: 24px;
            line-height: 48px;
            padding-left: 75px;
        }
        &-pic{
            padding-top: 100px;
            padding-left: 80px;
        }
        &-img{
            max-width: 100%;
            max-height: 460px;
            margin-right: 20px;
        }
    }
}    