@font-face {
    font-family: 'Parangon530С';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Parangon530C/Parangon530C.woff2') format('woff2'),
        url('../fonts/Parangon530C/Parangon530C.woff') format('woff');
}
/* pt-sans-caption-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    src: 
        url('../fonts/pt-sans-caption-v13-latin_cyrillic/pt-sans-caption-v13-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/pt-sans-caption-v13-latin_cyrillic/pt-sans-caption-v13-latin_cyrillic-regular.woff2') format('woff2'); /* Super Modern Browsers */
  }
 @font-face {
	font-family: 'Futura-Normal';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/futura-normal/futura-normal.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/futura-normal/futura-normal.woff2') format('woff2'); /* Modern Browsers */
}
@font-face {
	font-family: 'Futura-bold';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/futura-bold/FuturaLT-Bold.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/futura-bold/FuturaLT-Bold.woff2') format('woff2'); /* Modern Browsers */
}
@font-face {
	font-family: 'Helvetica-Neue';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format('woff2'); /* Modern Browsers */
}
@font-face {
	font-family: 'Helvetica-Neue-Bold';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2') format('woff2'); /* Modern Browsers */
}
@font-face {
	font-family: 'Myriad-pro-regular';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Exo2-bold';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Exo2/Exo2-Bold.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Exo2/Exo2-Bold.woff2') format('woff2'); /* Modern Browsers */
}
@font-face {
	font-family: 'Exo2-regular';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Exo2/Exo2-Regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Exo2/Exo2-Regular.woff2') format('woff2'); /* Modern Browsers */
}
