$blackAbsolute: #000000;
$whiteAbsolute: #ffffff;
$orangeMenu: #f6ae48;
$orangeAll: #f5ad47;
$borderLanding: rgb(0, 185, 231);
$borderSite:  rgb(255, 202, 0);
$borderEshop: rgb(102, 191, 13);
$darkBlue: #2f3163;
$buttonMore:  rgb(105, 106, 142);
$buttonEvaluate: #f6ae48;

$backgroundGradient1: rgba(48, 50, 99, .67);
$backgroundGradient2: rgba(0, 0, 0, .65);
$backgroundGradient3: rgba(46, 49, 98, .66);
$backgroundGradient4: rgba(245, 173, 71, .84);
$backgroundGradient5: rgba(0, 0, 0, .52);